<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Контакты -->
    <servlet>
        <servlet-name>Contacts</servlet-name>
        <servlet-class>servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>

    <!-- О нас -->
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>servlets.AboutUsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/about-us</url-pattern>
    </servlet-mapping>

    <!-- Обратная связь -->
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>servlets.FeedBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>

    <!-- Часто задаваемые вопросы -->
    <servlet>
        <servlet-name>FAQs</servlet-name>
        <servlet-class>servlets.DealsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FAQs</servlet-name>
        <url-pattern>/FAQs</url-pattern>
    </servlet-mapping>
</web-app>